* {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.navbar {
  background-color: #333333;
  margin-left: 0px !important;
}

.navbar-default .navbar-brand {
    color: #0e0e0e;
    background-color: #6495ED;
    margin-left: 0px ;
}

.navbar-custom .navbar-dark{
  margin-left: 0px;
  color: white;
  background-color: #6495ED;
}

#wrapper{
    overflow: hidden
}
.members-block {
   float:left;
}
#issues-block {
    float: right
}

.image-logo {
  display: inline;
  width: 250px;
  height: 50px;
  background-image: url(../img/logo);
  background-repeat: no-repeat;
}
.my-header {
  color: white;
  background-color: #333333;
}

.my-body {
  color: white;
  background-color: #282B2F;
  margin-left: 100px;
  padding: 0px 10px;
}

.login-join-link {
  float: right;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 10px 20px;
  margin: 5px;
}

.inline-links {
  display: inline;
}

.project-element, .project-member, .issues-element{
  display: flex;
  flex-direction: column;

  width: 90%;

  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #475159;

  margin-bottom: 20px;
}
.project-desc{
  font-size: 12px;
  font-family: 'Inter', sans-serif;
}

.debug-info {
  visibility: visible;
  position: relative;
  bottom: -700px;
}

.test-for-check {
  color: red;
}
