{% extends "base.html" %}
{% block content %}
<div class="issue-block">
    <div class="id">{{ issue.tracking }}</div>
    <div class="summary"><h2>Summary: {{ issue.summary }}</h2></div>
    <div class="created_date">Created : {{ issue.date_of_creation }}</div>
    <div class="assignee">
      Assign on:
      {% for assign in issue.assignees %}
        <div class="assign"> <a href="/profile/{{ assign.id }}">{{ assign.username }}</a></div>
      {% endfor %}
    </div>
    <div class="description"><div><h3>Description:</h3></div>
       {{ issue.description }}
    </div>
    <div class="Steps to reproduce"><h3>Steps to reproduce:</h3>
      {{ issue.steps_to_reproduce }}</div>


</div>


{% endblock %}
