{% extends "base.html" %}
{% block content %}
<h1 class="my-body">Fill this to create new project</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div>
        {{ form.project_name.label }} <br>
        {{ form.project_name(class="form-control") }} <br>
        {% for error in form.project_name.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </div>
    <div>
        {{ form.project_description.label }} <br>
        {{ form.project_description(class="form-control") }} <br>
        {% for error in form.project_description.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </div>

    <div>
        {{ form.short_project_tag.label }} <br>
        {{ form.short_project_tag(class="form-control") }} <br>
        {% for error in form.short_project_tag.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </div>


    <p> {{ form.submit(type="submit", class="btn btn-outline-primary") }}</p>

</form>

{% endblock %}
