{% extends "base.html" %}
{% block content %}

<div class='my-body user-info'>
  <div class="inline-links">
     <a href="/profile/{{ user.id }}/projects">User projects</a>
     <a href="/profile/{{ user.id }}/issues">User issues</a>
  </div>
  <div>Profile ID: {{ user.id }}</div>
  <div>Username: {{ user.username }}</div>
  {% if user.projects != None %}
      <div>Total Projects: {{ user.projects|length }}</div>
  {% else %}
      <div>This user doesn't have any projects yet</div>
   {% endif %}
  <div>Role: {{ user.role }}</div>
  <div>Date of registration {{ user.created_date }}</div>
</div>

<div class="my-body">
  {% if current_user.id == user.id|int %}
    <a href="/project/new"> Create new project</a>
    <div>API version {{ api_ver }}<br>Your API key: {{ current_user.API_KEY }} <a href='/profile/{{ current_user.id }}/new_api_key'>Want to generate new?</a><br>
      <a href="/api">API documentation</a></div>
  {% endif %}
</div>

{% endblock %}
