{% extends "base.html" %}
{% block content %}

<div class='my-body project-info'>
  <h1>Overview</h1>
  Project ID: {{ id }} <br>
  Project name: {{ project_name }} <br>
  Total project members: {{ project_members|length }}
  <ol>
  {% for member in project_members %}
    <div class="project-member">
      {% set member_and_role = member.split(':') %}
        <li>{{ member_and_role[0] }} - {{ member_and_role[1] }}</li>
    </div>
  {% endfor %}
  </ol>
  Date of creation {{ date_of_creation }} <br>
</div>
{% endblock %}
