{% extends "base.html" %}
{% block content %}

<script src="{{ url_for('static', filename='js/page_script.js') }}" charset="utf-8"></script>
<form>
  <input class="btn btn-primary btn-sm" id="new_member" type="button" name="" value="Add new member" onclick="get_Username({{ project.id }});" />
</form>

<div id="wrapper">
  <div id='member-block' class='members-block'>
    <ol>
      {% for member in project.members %}
          <li>
            <div class='project-member'>
              <details>
                  <summary><a href="/profile/{{ member.id }}">{{ member.username }}</a><br>Click to see more</summary>
                  Date of adding user to the project: {{ member.project_date_of_add(project.id) }} <br>
                  Project role: {{ member.project_role(project.id) }} <br>
                  Total issues: {{ member.count_of_issues_total(project.id) }} <br>
                  {% if current_user.project_role(project.id) == "root" or current_user.is_admin %}
                    {% if current_user != member %}
                      {% if member.project_role(project.id) == "developer" %}
                        <a href="/projects/{{ project.id }}/manage/change_role/?name={{ member.username }}&role=manager"> Promote to manager</a>
                      {% elif member.project_role(project.id) == "manager" %}
                        <a href="/projects/{{ project.id }}/manage/change_role/?name={{ member.username }}&role=developer"> Demote to developer</a>
                      {% endif %}
                      <a href="/projects/{{ project.id }}/manage/change_role/?name={{ member.username }}&role=root">Make root</a>
                    {% endif %}
                  {% endif %}
                      <a href="/projects/{{ project.id }}/manage/remove_user/?name={{ member.username }}"> Remove user from project</a>
            </div>
          </li>
      {% endfor %}
    </ol>
  </div>

  <div id='issues-block' class='issues-block'></div>
</div>
{% endblock %}
