{% extends "base.html" %}
{% block content %}

<div class='my-body project-info'>
  <h1>Overview</h1>
  Project ID: {{ project.id }} <br>
  Project name: {{ project.project_name }} <br>
  Total project members: {{ project.members|length }}
  <ol>
  {% for member in project.members %}
    <li><div class="project_member"><a href="/profile/{{ member.id }}">{{ member.username }}</a> - {{ member.project_role(project.id) }}</div></li>
  {% endfor %}
  </ol>
  Date of creation {{ date_of_creation }} <br>
</div>
{% endblock %}
